#findSection {

    .find__container {
        margin: 0 auto;
        width: 100%;
        height: 78vh;
        padding: 10px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .find__cate {
            width: 100%;
            background-color: #fff;
            box-shadow: 2px 3px 2px 2px rgba(128, 128, 128, 0.11);
            border-radius: 50px;

            ul {
                display: flex;
                justify-content: center;
                padding-top: 5px;
                list-style: none;
                text-align: center;
            }

            .location__text {
                display: flex;
                margin: 10px;
                height: 40px;
                background-color: #fff;
                box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
                border-radius: 50px;
                padding: 10px;
                padding-left: 20px;

                input {
                    color: #666666;
                    display: flex;
                    align-items: center;
                    width: 15vw;
                }
            }

            .location-item {
                position: relative;
                cursor: pointer;
                width: 15%;
                height: 40px;
                background-color: #fff;
                margin: 10px;
                border-radius: 50px;
                padding: 10px;
                box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
                white-space: nowrap;

                span {
                    display: flex;
                    justify-content: center;
                }

                .sub-menu {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    top: 100%;
                    left: 0;
                    list-style: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.3s ease-out;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ffffffbd;
                    border-radius: 20px;

                    li {
                        width: 100px;
                        margin: 5px;
                        opacity: 0;
                        transform: translateY(-10px);
                        transition: opacity 0.3s, transform 0.3s;


                    }
                }

                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;

                        li {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

        }

        @media(max-width: 650px) {
            .find__cate {
                box-shadow: none;
            }
        }

    }

    .find__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 25px;

        h2 {

            font-size: 1.2rem;
        }

        p {
            font-size: 0.9rem;
            color: #7a7a7a;
        }
    }

    .find__boxWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        background-color: #F3F4F5;

        .find__box {
            width: 100%;
            background-color: #ffffff;
            display: flex;
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: 2px 1px 1px 2px rgba(128, 128, 128, 0.11);
            height: 250px;
            overflow: hidden;

            &:hover {
                background-color: #f5f5f5ab;
            }

            .box01 {
                padding: 10px;
                height: inherit;

                h2 {
                    width: 100%;
                    padding-left: 10px;
                    font-size: 1.2rem;
                    white-space: nowrap;
                }

                .boximg {
                    margin: 5px auto;
                    width: 90%;
                    height: 160px;
                    border-radius: 10px;
                    background-color: #e4dddd;
                }

            }

            .box02 {

                height: inherit;
                padding: 50px 0px 50px 20px;

                .boxInfo {
                    display: flex;
                    padding-top: 18px;
                }


                .name {
                    font-size: 0.9rem;
                    padding: 5px 10px;
                    height: 30px;
                    border-radius: 15px;
                    text-align: center;
                    padding-top: 3px;
                    background-color: #EFE2D5;
                    justify-content: flex-start;
                    white-space: nowrap;
                }

                .anwser {
                    display: flex;
                    width: 100%;
                    height: 30px;
                    margin-left: 5px;
                    justify-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    margin-left: 15px;
                    white-space: nowrap;

                }

            }



            .box03 {
                height: inherit;
                padding: 50px 20px;


                .boxInfo {
                    display: flex;
                    margin-top: 18px;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }

                .name {
                    font-size: 0.9rem;
                    padding: 5px 10px;
                    height: 30px;
                    border-radius: 15px;
                    text-align: center;
                    padding-top: 3px;
                    background-color: #EFE2D5;
                    white-space: nowrap;

                }

                .anwser {
                    display: flex;
                    width: 100%;
                    height: 50px;
                    margin-left: 15px;
                    justify-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    white-space: normal;
                }
            }
        }
    }
}

@media(max-width:1000) {
    .box01 h2 {
        font-size: 0.8rem;
    }
}

@media (max-width:850px) {
    .box02 .axwer {
        font-size: 1.8vw;
    }

    .box03 .name {
        font-size: 1.8vw;
    }

    .box03 .anwser {
        // font-size: 1.8vw;
    }

    .box02 .name {
        font-size: 1.8vw;
    }
}

@media (max-width:800px) {
    .box01 .boximg {
        height: 75%;
        margin-top: 30px;
    }
}

@media (max-width:700px) {
    .box01 .boximg {
        display: none;
    }

    .find__box .box01 {
        width: 10px;
    }

    #findSection .find__boxWrap .find__box .box03 .boxInfo {
        display: flex;

    }

    #findSection .find__boxWrap .find__box {
        display: flex;
        flex-direction: column;
    }

    #findSection .find__boxWrap .find__box .box03 {
        height: inherit;
        display: none;
    }

    #findSection .find__boxWrap .find__box .box02 {
        height: inherit;
        padding: 10px 0px 50px 20px;
    }
}

@media (max-width:600px) {
    #findSection .find__boxWrap .find__box .box03 {
        height: inherit;
        display: none;
    }

    #findSection .find__boxWrap .find__box .box02 {
        height: inherit;
        padding: 10px 0px 50px 20px;
    }
}


// @media (max-width:500px) {
//     .boximg {
//         display: none;
//     }

//     .find__box {
//         height: 20vh;
//     }

//     #findSection .find__boxWrap .find__box {
//         overflow: hidden;
//     }

//     .box03 .boxInfo {
//         display: none;
//         margin-top: 12px;
//     }
// }

@media (max-width:400px) {
    #findSection .find__container .find__cate .location__text {
        display: flex;
        box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
        border-radius: 50px;
        padding: 5px;
        padding-left: 20px;
        justify-content: center;
    }

    #findSection .find__container .find__cate ul {
        display: flex;
        list-style: none;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #findSection .find__boxWrap .find__box {
        overflow: hidden;
    }

    .box03 .boxInfo {
        display: none;
        margin-top: 12px;
    }

    .find__box .box03 {
        display: none;
    }

}