#findSection {

    .find__container {
        margin: 0 auto;
        width: 100%;
        height: 78vh;
        padding: 10px;
        overflow: scroll;
        background: #F3F4F5;
        border-radius: 20px;

        &::-webkit-scrollbar {
            display: none;
        }

        .find__cate {
            width: 100%;
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            justify-content: start;

            ul {
                display: flex;
                justify-content: center;
                padding-top: 5px;
                list-style: none;
                text-align: center;
            }



            .location-item {
                display: flex;
                text-align: center;
                position: relative;
                cursor: pointer;
                background-color: #fff;
                margin: 10px;
                border-radius: 50px;
                padding: 10px 50px;
                box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
                white-space: nowrap;

                span {
                    display: flex;
                    justify-content: center;
                }

                .sub-menu {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    top: 100%;
                    left: 0;
                    list-style: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.3s ease-out;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ffffffbd;
                    border-radius: 20px;

                    li {
                        width: 100px;
                        margin: 5px;
                        opacity: 0;
                        transform: translateY(-10px);
                        transition: opacity 0.3s, transform 0.3s;


                    }
                }

                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;

                        li {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

        }

        @media(max-width: 650px) {
            .find__cate {
                box-shadow: none;
            }
        }

    }

    .find__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 25px;

        h2 {
            padding: 0px 20px;
            font-size: 1.2rem;
        }

        p {
            font-size: 0.9rem;
            color: #7a7a7a;
        }
    }

    .find__boxWrap {
        width: 100%;
        display: flex;
        padding: 15px;
        border-radius: 20px;
        flex-wrap: wrap;
        background-color: #F3F4F5;
    }

    .find__box {
        width: 47%;
        background-color: #ffffff;
        display: flex;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 2px 1px 1px 2px rgba(128, 128, 128, 0.11);
        height: 250px;
        overflow: hidden;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        cursor: pointer;

        &:hover {
            background-color: #f8f4f4e0;
        }
    }


    .box01 {
        padding: 5px;

        h2 {
            padding-left: 10px;
            font-size: 1.2rem;
            white-space: nowrap;
        }

    }

    .box02 {
        display: flex;
        flex-direction: column;

        .boxInfo {
            padding: 10px 20px;
            display: flex;

            .name {
                padding: 2px 5px;
                border-radius: 5px;
                background-color: #f1e4e4;
                margin-right: 5px;
            }

            .anwser {}
        }
    }
}



@media(max-width:1000) {
    .box01 h2 {
        font-size: 0.8rem;
    }
}

@media (max-width:850px) {
    .box02 .axwer {
        font-size: 1.8vw;
    }

    .box03 .name {
        font-size: 1.8vw;
    }



    .box02 .name {
        font-size: 1.8vw;
    }
}

@media (max-width:800px) {
    .box01 .boximg {
        height: 75%;
        margin-top: 30px;
    }

    #findSection .find__box {
        width: 95%;
    }
}

@media (max-width:700px) {
    .box01 .boximg {
        display: none;
    }

    .find__box .box01 {
        width: 10px;
    }

    #findSection .find__boxWrap .find__box .box03 .boxInfo {
        display: flex;

    }

    #findSection .find__boxWrap .find__box {
        display: flex;
        flex-direction: column;
    }

    #findSection .box02 .boxInfo {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    }

    #findSection .box02 .boxInfo .name {
        width: 57px;
    }
}

@media (max-width:550px) {
    #findSection .find__container .find__cate .location-item {
        padding: 10px 15px;

    }
}

@media (max-width:400px) {
    #findSection .find__container .find__cate .location__text {
        display: flex;
        box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
        border-radius: 50px;
        padding: 5px;
        padding-left: 20px;
        justify-content: center;
        display: none;
    }

    #findSection .find__container .find__cate ul {
        display: flex;
        list-style: none;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;

    }

    #findSection .find__boxWrap .find__box {
        overflow: hidden;
    }

    .box03 .boxInfo {
        display: none;
        margin-top: 12px;
    }

    .find__box .box03 {
        display: none;
    }

}

@media (max-width:350px) {
    #findSection .find__container .find__cate .location-item {
        position: relative;
        cursor: pointer;
        height: 40px;
        background-color: #fff;
        margin: 10px 5px;
        border-radius: 50px;
        padding: 10px 10px;
        box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.11);
        white-space: nowrap;
    }



}