.write__wrap {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #F5F5F5;
    padding: 20px;

    .write__header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .category__selection {
        display: flex;
        justify-content: right;


        #category {
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 0.9vw;
            padding: 2px 20px;
            margin-right: 10px;
            margin-right: 20px;
        }

    }

    fieldset {
        border: none;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;


        .required {
            width: 100%;
            padding: 20px;
            font-size: 2vw;
            display: none;
        }


        #youName {
            width: 100%;
            height: 50px;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
        }

        textarea#youName {
            height: 350px;
            background-color: #fff;
            margin-top: 20px;
            padding: 20px;
            margin-bottom: 20px;
            position: relative;
            resize: none;
        }


    }

    .btn__style {
        padding: 10px 30px;
        background-color: var(--mainColor);
        border-radius: 25px;
        position: absolute;
        right: 3%;
        top: 100%;
        text-align: center;
        color: #fff;
    }


    @media (max-width:560px) {
        .btn__style {
            width: 60%;
            position: absolute;
            right: 30%;
            top: 100%;
        }

        input#youName {
            width: 80%;
        }

        textarea#youName {
            width: 80%;
        }

        .category__selection {
            display: flex;
            justify-content: right;
            padding-top: 20px;


            #category {
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 2vw;
                padding: 2px 20px;
                margin-right: 20px;
            }

        }
    }

    @media (max-width:450px) {
        .btn__style {
            width: 40%;
            position: absolute;
            right: 45%;
            top: 100%;
        }

        input#youName {
            width: 65%;
        }

        textarea#youName {
            width: 65%;
        }

        .category__selection {
            display: flex;
            justify-content: right;
            padding-top: 20px;


            #category {
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 2vw;
                padding: 2px 20px;
                margin-right: 20px;
            }

        }

    }

    @media (max-width:320px) {
        .btn__style {
            width: 40%;
            position: absolute;
            right: 55%;
            top: 98%;
        }

        input#youName {
            width: 50%;
        }

        textarea#youName {
            width: 50%;
        }

        .category__selection {
            display: flex;
            justify-content: right;
            padding-top: 20px;

        }

    }
}